<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Japanese Name</th>
            <th>Score</th>
            <th>Genres</th>

        </tr>
    </thead>
    <tbody>
        <% for (anime of animes) {
        const name = anime['Name']
        const Jname = anime['Japanese']
        const score = anime['Score']
        const genres= anime['Genres']
        %>
            <tr class="mb-2">
                <td>
                    <%= name %>
                </td>
                <td>
                    <%= Jname %>
                </td>

                <td>
                    <%= score %>
                </td>

                <td>
                    <%= genres %>
                </td>

            </tr>
            <% } %>
    </tbody>
</table>