body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.header {
    position: sticky;
    top: 0;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}